@base-color: #01acf3;
.gt-toast {
    text-align: left;
}
/* header */
.gt-header{
    position: fixed;
    top: 0;
}
/* header end */
/* modal */

.gt-modal {
    display: block;
    overflow: hidden;
    .gt-modal__scroll{
        height: 100%;
        min-height: auto;
    }
    .gt-backdrop{
        position: fixed;
    }
    .gt-modal__content {
        background: rgba(0, 0, 0, 0.4);
        box-shadow: 0 0 7px rgba(1, 172, 243, 0.9)
    }
    .gt-modal__header {
        color: #ffffff;
        border-bottom: 1px solid @base-color;
    }
    .gt-modal__footer {
        border-top: 1px solid @base-color;
    }
    // .gt-upload__style {
    //     border-color: #ffffff;
    // }
}
.gt-modal__content, .gt-modal__body {
    overflow: visible;
}

.gt-modal.gt-fade {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(0, 0);
    .gt-modal__content {
        position: absolute;
        left: 50%;
        top: 30%;
        transform: translate(-50%, -30%);
        transition: all 0.3s ease-out;
    }
}

.gt-fade.gt-in .gt-modal__content {
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.gt-toast {
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.gt-comfirm-modal {
    .gt-modal__p {
        color: #ffffff;
    }
}
.gt-upload__style .gt-icon, .gt-upload__img-text, .gt-form__tip-block {
    color: #ffffff;
}
/* modal end */

/* form */
.gt-form-bd-auto {
    .gt-form-group{
        &:last-child{
            .gt-form__label, .gt-form__content{
                padding-bottom: 0;
            }
        }
    }
    .gt-form__label {
        color: #ffffff;
    }
    .gt-form-control {
        background: none;
        color: #ffffff;
        transition: 0.5s all;
        &:focus {
            border-color: @base-color;
            box-shadow: 0 0 8px rgba(1, 172, 243, 1)
        }
    }
    .gt--error {
        &:focus {
            border-color: #ed3535;
            box-shadow: 0 0 6px #f9c2c2;
        }
    }
    .gt-radio__txt {
        color: #ffffff;
    }
}
.gt-btn-line {
    color: #ffffff;
    background: none;
    transition: 0.5s all;
    &:hover {
        color: #ffffff;
        background: rgba(256, 256, 256, 0.4)
    }
}
.gt-btn-solid {
    color: @base-color;
    background: none;
    transition: 0.5s all;
    &:hover {
        background: rgba(1, 172, 243, .4)
    }
}
.gt-btn-danger {
    float: left;
    color: #f16464;
    border: 1px solid #f16464;
    &:hover, &:focus {
        color: #f16464;
        border: 1px solid #f16464;
        background: rgba(252, 0, 83, .4)
    }
}
/* form end */