#home-container {
  padding: 20px;
  margin-top: 52px;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 90px;
  overflow: auto;
}
#dashboard-container{
  overflow: scroll;
}
.unit-group{
  .unit-header{
    height: 45px;
    margin-bottom: 20px;
    line-height: 45px;
    h3{
      display: block;
      line-height: 45px;
      font-size: 14px;

      color: #999999;
      border-bottom: 1px solid #cccccc;
      .gt-btn-line{
        margin-top: 7px;
      }
    }
  }
}

.gt-form-horizontal-group{
  .gt-input--ws{
    width: 100%;
    max-width: none;
    .fl{
      margin-right: 20px;
      &:last-child{
        margin-right: 0;
      }
    }
  }
  .gt-form__content{
    .gt-form__label{
      display: inline-block;
    }
    .gt-form-control{
      width: 134px;
      border-radius: 4px;
    }
    .gt-icon{
      margin-left: 10px;
      padding: 2px;
      border: 1px solid #ffffff;
      color: #ffffff;
      border-radius: 50%;
      text-align: center;
      cursor: pointer;
    }
  }
}

.control-box {
  width: 400px;
  height: 32px;
  position: fixed;
  left: 50%;
  top: 110px;
  margin-left: -200px;
  background: rgba(0, 0, 0, .4);
  .control-list {
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    align-items: center;
    height: 100%;
    cursor: pointer;
  }
  li {
    // display: inline-block;
    flex-grow: 1;
    margin-right: 20px;
    color: #ffffff;
    text-align: center;
    transition: 0.3s all;
    &:hover {
      color: #01acf3;
    }
    label {
      display: block;
      cursor: pointer;
    }
    input {
      display: none;
    }
  }
  .active {
    color: #01acf3;
  }
}

.cell-box{
  .cell-header{
    h4{
      font-size: 20px;
    }
  }
  .cell-body{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    .cell {
      display: block;
      margin: 20px 30px 20px 30px;
      padding: 20px;
      width: 180px;
      border-radius: 10px;
      border: 1px solid #eeeeee;
      transition: 0.3s all;
      text-align: center;
      text-decoration: none;
      outline: none;
      // 禁止选中图片 文字
      -webkit-touch-callout: none;
      user-select: none;
      &:hover {
        border: 1px solid #01acf3;
        box-shadow: 0 0 20px #01acf3;
        .name {
          color: #01acf3;
          text-shadow:0 0 10px #01acf3;
        }
      }
      &:focus {
        outline: none;
      }
      // flex-grow: 1;
      .logo {
        width: 100px;
        height: 100px;
        margin-bottom: 10px;
        border-radius: 8px;
      }
      .name {
        color: #ffffff;
        font-size: 18px;
        text-decoration: none;
        transition: 0.3s all;
      }
    }
  }
}

.side-nav {
  position: fixed;
  right: 20px;
  bottom: 60px;
  li {
    width: 40px;
    margin-bottom: 10px;
    color: #ffffff;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    &:hover {
      color: #01acf3;
    }
  }
}